@use 'colors' as c;
@use '../variables/containerWidth' as b;
@use '../variables/spacing' as s;
@use 'typography' as t;

// Resets
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  min-height: 100vh;
  font-family: t.$font-family-body;
  font-size: map-get(t.$font-sizes-base, body);
  line-height: 1.5;
  line-height: t.$line-height-body;
  color: t.$text-color;
  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;

  @media (pointer: coarse) {
    cursor: auto;
  }
}

a,
button,
[role='button'],
.hotspot,
.carouselButton,
.thumbnailButton {
  cursor: none;
}

button,
input,
select,
textarea {
  background: none;
  color: inherit;
  font: inherit;
  outline: none;
}

button {
  border-radius: 0;
}

a:any-link,
a:active {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: t.$font-family-heading;
  line-height: t.$line-height-heading;
  margin-block-end: s.$spacing;
}

:focus {
  outline: 0.12rem solid var(--accent-secondary);
  outline-offset: 0.125rem;
}
