@use './globals';
@use './utils/functions' as f;
@use './utils/mixins' as m;

:root {
  block-size: 100%;
  scroll-behavior: smooth;

  &[data-theme='light'] {
    --bg-primary: #f2f2f2;
    --bg-secondary: #f6f6f6;
    --text-primary: #2c1f1f;
    --text-secondary: #5a4033;
    --accent-primary: #f68b1e;
    --accent-secondary: #ff6b61;
    --accent-tertiary: #fdb56d;
    --highlight: #26a69a;
    --white: #f9f9f9;
    --neutral-white: #f9f9f9;
    --neutral-light: #fbd2a8;
    --dark: #2c1f1f;
    --slider-bg: radial-gradient(
        circle at top left,
        rgba(255, 255, 255, 0.35),
        transparent 60%
      ),
      linear-gradient(135deg, #f68b1e 0%, #fdb56d 45%, #ff6b61 100%);
  }

  &[data-theme='dark'] {
    --bg-primary: #19191c;
    --bg-secondary: #0d0d0d;
    --text-primary: #e6e6e6;
    --text-secondary: #ffffffb3;
    --accent-primary: #f5a623;
    --accent-secondary: #ff795a;
    --accent-tertiary: #e7a85e;
    --highlight: #1e897e;
    --white: #dadada;
    --neutral-white: #0d0d0d;
    --dark: #2c1f1f;
    --slider-bg: radial-gradient(
        circle at top left,
        rgba(255, 255, 255, 0.08),
        transparent 60%
      ),
      linear-gradient(
        135deg,
        rgba(245, 166, 35, 0.8) 0%,
        rgba(255, 121, 90, 0.6) 50%,
        rgba(231, 168, 94, 0.8) 100%
      );
  }
}

#root {
  min-height: 100vh;
  background-color: var(--bg-primary);
}
