@use '../utils/functions' as f;
@use '../utils/mixins' as m;
@use '../utils/shadows' as s;

.cart {
  .item {
    border-bottom: f.r(1) solid #ddd;
    padding: 1rem 0;
  }

  .total {
    font-weight: bold;
    font-size: 1.2rem;
  }
}
