@use '../utils//functions' as f;
@use '../utils//mixins' as m;

.heroSection {
  position: relative;
  width: 100%;
  height: f.r(300);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../assets/images/apparel-1850804.jpg') center/cover
    no-repeat;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  z-index: 1;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
  z-index: 1;
}

.hotspot {
  position: absolute;
  width: f.r(30);
  height: f.r(30);
  background-color: var(--accent-primary);
  border-radius: 50%;
  cursor: none;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 f.r(2) f.r(5) rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: var(--accent-tertiary);
  }
}

.preview {
  position: absolute;
  top: f.r(40);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(113, 89, 64);
  border-radius: f.r(8);
  box-shadow: 0 f.r(4) f.r(10) rgba(0, 0, 0, 0.2);
  width: f.r(200);
  padding: f.r(10);
  z-index: 50;
}

.previewLink {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--text-secondary);
  cursor: none;

  &:hover {
    .previewImage {
      opacity: 0.9;
    }

    .previewDetails p {
      color: var(--accent-secondary);
    }
  }
}

.previewImage {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

.previewDetails {
  padding: 8px;
  text-align: center;
}

.previewDetails h3 {
  font-size: 1rem;
  margin: 0 0 4px;
  font-weight: 600;
}

.previewDetails p {
  font-size: 0.9rem;
  margin: 0;
  color: var(--accent-secondary);
  transition: color 0.3s ease;
}

.textContainer {
  position: relative;
  z-index: 3;
  padding-inline: 8px;
}

/* Responsive adjustments */
@media (min-width: 576px) {
  .heroSection {
    height: 400px;
  }

  .hotspot {
    width: 35px;
    height: 35px;
  }

  .preview {
    width: 250px;
  }

  .previewImage {
    height: 120px;
  }

  .previewDetails h3 {
    font-size: 1.1rem;
  }

  .previewDetails p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .heroSection {
    height: 500px;
  }

  .hotspot {
    width: 40px;
    height: 40px;
  }

  .preview {
    width: 300px;
  }

  .previewImage {
    height: 150px;
  }

  .previewDetails h3 {
    font-size: 1.2rem;
  }

  .previewDetails p {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  .heroSection {
    height: 600px;
  }

  .hotspot {
    width: 45px;
    height: 45px;
  }

  .preview {
    width: 350px;
  }

  .previewImage {
    height: 180px;
  }

  .previewDetails h3 {
    font-size: 1.3rem;
  }

  .previewDetails p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .heroSection {
    max-width: 1200px;
    margin: 0 auto;
    height: 700px;
  }

  .hotspot {
    width: 50px;
    height: 50px;
  }

  .preview {
    width: 400px;
  }

  .previewImage {
    height: 200px;
  }

  .previewDetails h3 {
    font-size: 1.4rem;
  }

  .previewDetails p {
    font-size: 1.3rem;
  }
}

// .textContainer {
//     h1 {
//         font-family: serif;
//     }
// }
