$container-width-sm: 33.75rem;
$container-width-md: 45rem;
$container-width-lg: 60rem;
$container-width-xl: 71.25rem;
$container-width-xxl: 82.5rem;
$container-width-1600: 93.75rem;
$container-width-1800: 105rem;